<nav class="navbar navbar-expand-lg bg-body-tertiary text-white">
  <div class="container-fluid">
    <%= link_to "ALPHA BLOG", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <%= link_to "Articles", articles_path, class: "nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Link</a>
        </li>
      </ul>
      <div>
        <% if logged_in? %>
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="header-user-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="user-name"><%= link_to current_user.username, current_user %></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="header-user-dropdown">
              <li><%= link_to "New article", new_article_path, class: "dropdown-item" %></li>
              <li><%= link_to "Log out", logout_path, class: "dropdown-item", method: :delete %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to "Log in", login_path, class: "btn btn-outline-success" %>
          <%= link_to "Sign up", signup_path, class: "btn btn-outline-info ml-5" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
